---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import Mail from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import SkillsIcon from "../icons/SkillsIcon.astro";
import ProjectsIcon from "../icons/ProjectsIcon.astro";
import Copy from "../icons/Copy.astro";
---

<Layout
	title="Pablo L Portfolio. Desarrollador y Programador Multiplataforma."
	description="Contrata a Pablo para desarrollar aplicaciones y liderar proyectos."
>
	<main class="px-8">
		<SectionContainer id="top" class="py-44 pb-44">
			<img
				class="rounded-full size-40 mb-8"
				src="/pictures/pablopic.webp"
				alt="pablo l navarro photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hola! Soy Pablo
				<a
					href="https://www.linkedin.com/in/pablo-l-navarro-6b20a5292"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar </Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+3 años de experiencia.</span>
				<span class="opacity-80">Desarrollador </span>
				<span class="text-red-100/90">Multiplataforma, </span>
				<span class="opacity-80">
					especializado en crear aplicaciones únicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href=`https://www.linkedin.com/in/pablo-l-navarro-6b20a5292`>
					<LinkedIn class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/plNav">
					<GitHub class="size-4 lg:size-6" />
					GitHub
				</SocialPill>

				<div id="mailButton">
					<SocialPill href="#">
						<Mail class="size-4 lg:size-6" />
						pav.dev3@gmail.com
					</SocialPill>
				</div>
				<div
					id="copyButton"
					class="rounded-full border border-white/10 flex justify-center items-center gap-x-2
				py-1 px-2 lg:py-2 lg:px-4 text-xs lg:text-base bg-white/5 hover:scale-110 hover:bg-white/10 transition"
				>
					<Copy class="size-4 lg:size-6" />
					<Mail class="size-4 lg:size-6" />
				</div>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="skills">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<SkillsIcon class="size-7" />
				Habilidades
			</h2>
			<Skills />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const mailButton = document.getElementById("mailButton");
		const copyButton = document.getElementById("copyButton");

		if (mailButton) {
			mailButton.addEventListener("click", () => {
				const subject = encodeURIComponent("Contacto Portfolio");
				const email = "pav.dev3@gmail.com";
				window.location.href = `mailto:${email}?subject=${subject}`;
			});
		}

		if (copyButton) {
			copyButton.addEventListener("click", () => {
				navigator.clipboard
					.writeText("pav.dev3@gmail.com")
					.then(() => {
						alert(
							"Email copiado al portapapeles\n pav.dev3@gmail.com",
						);
					})
					.catch((err) => {
						console.error("Error al copiar email: ", err);
					});
			});
		}
	});
</script>
