<header>
    <nav
        class=" bg-black/80 fixed w-full z-20 top-0 start-0 border-b border-gray-600"
    >
        <div
            class="items-center justify-center hidden w-full md:flex md:w-auto md:order-1"
            id="navbar-sticky"
        >
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
            >
                <li>
                    <a
                        href="#top"
                        class="block py-2 px-3 text-white rounded md:bg-transparent"
                        aria-current="page">Inicio</a
                    >
                </li>
                <li>
                    <a
                        href="#experience"
                        class="block py-2 px-3"
                        >Experiencia</a
                    >
                </li>
                <li>
                    <a
                        href="#skills"
                        class="block py-2 px-3 "
                        >Habilidades</a
                    >
                </li>
                <li>
                    <a
                        href="#projects"
                        class="block py-2 px-3t-white "
                        >Proyectos</a
                    >
                </li>
            </ul>
        </div>
    </nav>
</header>
