<header class="bg-black/80 fixed w-full z-20 top-0 border-b border-gray-600">
    <nav class="container mx-auto flex justify-center items-center p-4">
        <div class="flex items-center space-x-4 md:space-x-8">
            <a
                href="#top"
                class="text-white text-s md:text-lg font-semibold hover:text-gray-300"
                >Inicio</a
            >
            <a
                href="#experience"
                class="text-white text-s md:text-lg font-semibold hover:text-gray-300"
                >Experiencia</a
            >
            <a
                href="#skills"
                class="text-white text-s md:text-lg font-semibold hover:text-gray-300"
                >Habilidades</a
            >
            <a
                href="#projects"
                class="text-white text-s md:text-lg font-semibold hover:text-gray-300"
                >Proyectos</a
            >
        </div>
    </nav>
</header>
