---
import { TAGS } from "../constants/Tags.js";
import Tag from "./Tag.astro";
const LANGUAGE_SKILLS = [
    TAGS.DART,
    TAGS.JAVA,
    TAGS.KOTLIN,
    TAGS.JAVASCRIPT,
    TAGS.TYPESCRIPT,
    TAGS.CSHARP,
    TAGS.SWIFT,
];
const FRAMEWRK_SKILLS = [
    TAGS.FLUTTER,
    TAGS.ANGULAR,
    TAGS.REACT,
    TAGS.ASTRO,
    TAGS.COMPOSE,
    TAGS.SWIFTUI,
    TAGS.SPRING,
    TAGS.EXPRESS,
    TAGS.TAILWIND,
];
const SOCIALSF_SKILLS = [
    TAGS.FLEXIBILITY,
    TAGS.TEAMWORK,
    TAGS.INITIATIVE,
    TAGS.CRITIC,
    TAGS.PROBLEMRES,
    TAGS.LEARN,
];
const SOFTWARE_SKILLS = [
    TAGS.MYSQL,
    TAGS.MONGODB,
    TAGS.DOCKER,
    TAGS.LINUX,
    TAGS.POWERSHELL,
    TAGS.FIREBASE,
    TAGS.HTML,
    TAGS.CSS,
    TAGS.DENO,
    TAGS.NODE,
    TAGS.GIT,
    TAGS.GITHUB,
];
---

<div class="text-white">
    <h3 class="text-xl font-semibold my-2 pt-6">Lenguajes</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            LANGUAGE_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5 text-white" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-12">Frameworks</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            FRAMEWRK_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-12">Soft Skills</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            SOCIALSF_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul>
    <h3 class="text-xl font-semibold my-2 pt-12">Otros</h3>
    <ul class="flex gap-x-4 flex-row flex-wrap">
        {
            SOFTWARE_SKILLS.map((skill) => (
                <Tag name={skill.name}>
                    <skill.icon class="size-5" />
                </Tag>
            ))
        }
    </ul>
</div>
